section {
    display: block;
}
body {
    font-size: .12rem;
}
body {
    font: 300 12px/1.5 -apple-system,sans-serif;
}

.rank_list {
    margin-top: .2rem;
}

blockquote, body, dd, dl, figure, form, h1, h2, h3, h4, h5, h6, hr, input, ol, p, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.rank_list__item {
    display: -webkit-box;
    -webkit-box-align: center;
    margin: 0 .16rem .12rem;
    border-radius: .08rem 0 0 .08rem;
}

.c_bg2 {
    background-color: #fff;
}
li {
    list-style: none;
}

.rank_list__bd {
    -webkit-box-flex: 1;
}

.rakn_song_list__item {
    margin: 0 .12rem .04rem;
    line-height: .16rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rank_list__media {
    position: relative;
    width: 1.07rem;
    height: 1.07rem;
    overflow: hidden;
    border-radius: 0 .08rem .08rem 0;
}
.rank_list__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}